[build]
  command = "pnpm run build"
  publish = ".tanstack/start/build/client-dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@reduxjs/toolkit", "react-redux"]

[[edge_functions]]
  function = "frame-security"
  path = "/*"

