[build]
  command = "pnpm run build"
  publish = ".tanstack/start/build/client-dist"

[functions]
  directory = ".netlify/functions-internal"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[[edge_functions]]
  function = "frame-security"
  path = "/*"

